@import "vars";
@import "normalize";
@import "grid";
@import "dev";

html {
  height: 100%;
  overflow-y: scroll;
}

* {
  color: var(--color-text);
  font-family: var(--font-family-sans-serif-secondary);
}

p,
button,
li {
  margin: 0;
  padding: 0;

  color: var(--color-text);
}

.hidden {
  display: none !important;

  &-mobile {
    @include sm-lower {
      display: none !important;
    }
  }
}

.construct-outline {
  border: 1px dashed black !important;
}
