$breakpoint-phone-upper: 375px;
$breakpoint-big-screen-phone-upper: 600px;
$breakpoint-tablet-portrait-upper: 768px;
$breakpoint-tablet-landscape-upper: 1024px;
$breakpoint-md-desktop-upper: 1200px;
$breakpoint-desktop-upper: 1440px;
$breakpoint-big-desktop-upper: 1800px;

@mixin phone-upper {
  @media (min-width: #{$breakpoint-phone-upper}) {
    @content;
  }
}

@mixin sm-lower {
  @media (max-width: #{$breakpoint-big-screen-phone-upper - 1}) {
    @content;
  }
}

@mixin sm-upper {
  @media (min-width: #{$breakpoint-big-screen-phone-upper}) {
    @content;
  }
}

// Medium devices
@mixin md-upper {
  @media (min-width: #{$breakpoint-tablet-portrait-upper}) {
    @content;
  }
}

// Landscape Medium devices
@mixin land-md-upper {
  @media (min-width: #{$breakpoint-tablet-landscape-upper}) {
    @content;
  }
}

// Medium Large devices
@mixin lg-upper {
  @media (min-width: #{$breakpoint-md-desktop-upper}) {
    @content;
  }
}

// Large devices
@mixin xl-upper {
  @media (min-width: #{$breakpoint-desktop-upper}) {
    @content;
  }
}

// Extra Large devices
@mixin xxl-upper {
  @media (min-width: #{$breakpoint-big-desktop-upper}) {
    @content;
  }
}

:root {
  --grid-col-numb: 12;
  --grid-col-gutter: 24px;
  --grid-col-width: calc((100vw - (24px * 11)) / 12);

  /* ===== SPACING ===== */

  --spacing-unit: 8px;

  /* ===== FAMILY ===== */

  --font-family-sans-serif-main: arial, sans-serif;
  --font-family-sans-serif-secondary: "Source Code Pro", monospace;

  /* ===== COLORS ===== */

  --color-primary: #f4efe1;
  --color-secondary: #7984a8;

  --color-grey-background: #e5e5e5;

  --color-text: #333;
  --color-text-grey: #333;
  --color-text-lightgrey: #aaadb3;

  --color-error: #d94545;
  --color-valid: #22b17b;

  /* ===== BREAKPOINTS ===== */

  --breakpoint-phone-upper: 375px;
  --breakpoint-big-screen-phone-upper: 600px;
  --breakpoint-tablet-portrait-upper: 768px;
  --breakpoint-tablet-landscape-upper: 1024px;
  --breakpoint-desktop-upper: 1280px;
}
