.ab-cont-body-l {
  width: calc((var(--grid-col-width) * 2) + (var(--grid-col-gutter) * 2));
}

.ab-cont-body-l-nav {
  gap: calc(var(--spacing-unit) * 4);
}

.ab-cont-body-l-nav-button {
  border: none;
  width: 150px;

  font-size: 20px;
  font-family: var(--font-family-sans-serif-main);
  font-weight: 600;
  text-align: left;
  outline: 0;
}

.ab-cont-body-l-nav-button:before {
  content: "#";
  margin-right: calc(var(--spacing-unit) * 1);
}

.ab-cont-body-l-nav-button:hover:before {
  font-style: italic;
}

.ab-cont-body-r {
  display: grid;
  gap: calc(var(--spacing-unit) * 12);
  width: 580px;
}

.ab-cont-body-r-text {
  /* padding: calc(var(--spacing-unit) * 3); */
}

.ab-cont-body-r-text-par {
  margin-bottom: calc(var(--spacing-unit) * 3);

  color: var(--color-text);
  font-size: 13px;
  line-height: 2;
}

.about-cont-ss-sect-title {
  margin-bottom: calc(var(--spacing-unit) * 4);

  font-size: 40px;
  font-family: var(--font-family-sans-serif-main);
  font-weight: 600;
}

.about-cont-ss-sect-body {
  display: grid;
  gap: calc(var(--spacing-unit) * 3);
}

.ab-cont-grid-card-list {
  display: grid;
  gap: calc(var(--spacing-unit) * 6) calc(var(--spacing-unit) * 3);

  margin-top: calc(var(--spacing-unit) * 2);
}

.ab-cont-grid-card {
}

.ab-cont-grid-card p b {
  background-color: var(--color-primary);
}

.ab-cont-grid-card p a {
  color: var(--color-secondary);
  text-decoration: underline;
}

.ab-cont-grid-card p a:hover {
  text-decoration: none;
}

.ab-cont-grid-card-title {
  margin-bottom: calc(var(--spacing-unit) * 3);

  color: var(--color-secondary);
  font-size: 18px;
  font-family: var(--font-family-sans-serif-main);
  font-weight: 600;
}

.ab-cont-grid-card-body {
  background: #eff0f2;
  padding: 16px;
}

.about-cont-ss-sect-body-excerpt {
  font-size: 18px;
  font-family: var(--font-family-sans-serif-main);
  font-weight: 600;
}
