.c-form {
  width: 700px;
  /* background: blue; */
}

.c-form-grp {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing-unit) * 4);
}

.c-form-field {
  display: flex;
  flex-direction: column;

  position: relative;

  border: none;
  border-bottom: 1px solid;
  width: 100%;
  height: 100px;
}

.c-form-input-lbl {
  position: absolute;
  bottom: calc(var(--spacing-unit) * 2);
  left: 0;

  color: transparent;

  font-size: 60px;
  font-weight: 900;
  font-family: var(--font-family-sans-serif-main);
  line-height: 1;

  -webkit-text-stroke: 1px #000;
}

.c-form-input {
  display: inline-block;
  height: 100%;

  font-size: 60px;
  font-weight: 900;
  font-family: var(--font-family-sans-serif-main);
  line-height: 1;
  outline: 0;
}
