.page-main {
  padding-top: 100px;
}

.home-dev-hero {
  margin-top: calc(var(--spacing-unit) * 9);
}

.home-dev-hero-type {
  font-size: 24px;
  line-height: 1;
}

.home-dev-hero-title {
  margin-top: calc(var(--spacing-unit) * 4);

  font-size: 96px;
  line-height: 1;
}

.home-dev-stack-unv {
  position: relative;

  width: 300px;
}

.home-dev-stack-unv-kuiper {
  position: relative;
  z-index: 3;

  border: 1px dashed black;
  border-radius: 50%;
  width: 294px;
  height: 294px;
}

.home-dev-stack-unv-kuiper-color {
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: 2;

  border-radius: 50%;
  width: 294px;
  height: 294px;
  background: var(--color-primary);
}

.home-dev-stack-unv-helio {
  position: relative;

  border: 1px dashed black;
  border-radius: 50%;
  width: 196px;
  height: 196px;
}

.home-dev-stack-unv-sun {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: black;
}

.home-dev-stack-unv-luna {
  position: absolute;

  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: black;
}

.home-dev-stack-unv-luna--1 {
  top: 25px;
  left: 15px;
}

.home-dev-stack-unv-luna--2 {
  top: 15px;
  right: 25px;
}

.home-dev-stack-unv-luna--3 {
  bottom: 15px;
  right: 25px;
}

.home-dev-stack-unv-luna--4 {
  bottom: 25px;
  left: 15px;
}

.home-dev-stack-unv-planet {
  position: absolute;

  font-size: 14px;
}

.home-dev-stack-unv-planet--1 {
  top: 25px;
  left: 70px;

  transform: rotate(15deg);
}

.home-dev-stack-unv-planet--2 {
  top: 80px;
  left: 10px;
  transform: rotate(-3deg);
}

.home-dev-stack-unv-planet--3 {
  top: 95px;
  right: 10px;
  transform: rotate(-20deg);
}

.home-dev-stack-unv-planet--4 {
  bottom: 35px;
  left: 35px;
  transform: rotate(-6deg);
}

.home-dev-agile-specs {
  position: relative;
  top: calc(var(--spacing-unit) * 6);

  width: max-content;
}

.home-dev-agile-specs-pri {
  margin-bottom: calc(var(--spacing-unit) * 2);
  font-family: var(--font-family-sans-serif-main);
  font-size: 30px;
  font-weight: 500;
}

.home-dev-agile-specs-sec {
  font-size: 15px;
  font-weight: 400;
  text-align: right;
  line-height: 1.6;
}
