@import "model";

.page-main {
  padding: 100px 24px 150px 24px;

  @include md-upper {
    padding: 100px 0 150px 0;
  }
}

.main-header {
  display: flex;
  align-items: flex-end;

  margin-top: calc(var(--spacing-unit) * 6);
  height: 70px;
}

.main-header-title {
  width: 380px;
  background-color: var(--color-primary);
}

.main-header-title-h {
  position: relative;
  top: 25px;

  padding-left: calc(var(--spacing-unit) * 3);

  font-size: 50px;
  white-space: nowrap;
  line-height: 1;

  @include sm-upper {
    font-size: 55px;
  }

  @include md-upper {
    left: 20%;

    padding-left: 0;

    font-size: 72px;
  }
}

.main-header-menu-nav {
  display: flex;
  gap: calc(var(--spacing-unit) * 5);

  position: relative;

  /* border-bottom: 1px solid lightgrey; */
  margin-left: 230px;
  padding-bottom: calc(var(--spacing-unit) * 1);
}

.main-header-menu-btn {
  position: relative;
}

.main-header-menu-btn.active:after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background: black;

  position: absolute;
  left: 0;
  bottom: calc(var(--spacing-unit) * -1);
}

.main-body {
  display: grid;

  /* border: 1px solid; */
  margin-top: calc(var(--spacing-unit) * 11);

  @include md-upper {
    display: flex;

    gap: calc(var(--spacing-unit) * 5);
    padding-right: calc(var(--spacing-unit) * 4);
  }

  @include land-md-upper {
    /* width: 600px; */
  }

  @include xl-upper {
    width: 768px;
  }
}
