@import "../base";

.pg-ctct-main {
  display: grid;
  gap: calc(var(--spacing-unit) * 4);
}

.pg-ctct-tle {
  font-family: var(--font-family-sans-serif-main);
  font-weight: 600;
  font-size: 30px;
}

.pg-ctct-email {
  display: flex;
  align-items: center;
  gap: calc(var(--spacing-unit) * 1);

  border-left: 4px solid;
  margin-top: calc(var(--spacing-unit) * 4);
  padding-left: calc(var(--spacing-unit) * 4);

  font-weight: bold;
  line-height: 1.8;
}

.pg-ctct-nota,
.pg-ctct-nota * {
  display: none;
  font-size: 12px;
  font-family: var(--font-family-sans-serif-main);
  line-height: 1.8;
}

.pg-ctct-nota .help-note {
  display: none;

  @include md-upper {
    display: inline-block;
  }
}

.pg-ctct-spam-wrng {
  display: grid;
  gap: calc(var(--spacing-unit) * 2);

  border-radius: 8px;
  padding: calc(var(--spacing-unit) * 2);
  background-color: #eff0f2;
}

.pg-ctct-spam-wrng-title {
  color: var(--color-text);
  font-size: 18px;
  font-family: var(--font-family-sans-serif-main);
  font-weight: 600;
}

.pg-ctct-spam-wrng-par,
.pg-ctct-spam-wrng-par * {
  color: var(--color-text);
  font-size: 15px;
  line-height: 2;
}
