@import "../base";

.ab-cont-body-l {
  width: calc((var(--grid-col-width) * 2) + (var(--grid-col-gutter) * 2));
}

.ab-cont-body-l-nav {
  gap: calc(var(--spacing-unit) * 4);
}

.ab-cont-body-l-nav-button {
  border: none;
  width: 150px;

  font-size: 20px;
  font-family: var(--font-family-sans-serif-main);
  font-weight: 600;
  text-align: left;
  outline: 0;
}

.ab-cont-body-l-nav-button:before {
  content: "#";
  margin-right: calc(var(--spacing-unit) * 1);
}

.ab-cont-body-l-nav-button:hover:before {
  font-style: italic;
}

.ab-cont-body-r {
  display: grid;
  gap: calc(var(--spacing-unit) * 12);

  @include md-upper {
    width: 580px;
  }
}

.ab-cont-body-r-text {
  & h3 {
    color: var(--color-secondary);
    font-family: var(--font-family-sans-serif-main);
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 2;
  }
}

.ab-cont-body-r-text-par {
  /* margin-bottom: calc(var(--spacing-unit) * 3); */

  color: var(--color-text);
  font-size: 15px;
  line-height: 2;
}

.about-cont-ss-sect {
  margin-top: calc(var(--spacing-unit) * 8);
  @include md-upper {
    margin-top: 0;
  }

  &--summary {
    h3 {
      margin-top: calc(var(--spacing-unit) * 3);
    }
  }
}

.about-cont-ss-sect-title {
  font-size: 35px;
  font-family: var(--font-family-sans-serif-main);
  font-weight: 600;

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;

    margin-bottom: calc(var(--spacing-unit) * 4);
  }

  &-visible {
    &-btn {
      border: none;
      background: none;
    }

    &-icon {
      opacity: 0.4;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

.about-cont-ss-sect-body {
  display: grid;
  gap: calc(var(--spacing-unit) * 3);
}

.ab-cont-grid-card-list {
  display: grid;
  gap: calc(var(--spacing-unit) * 6) calc(var(--spacing-unit) * 3);

  margin-top: calc(var(--spacing-unit) * 2);
}

.ab-cont-grid-card {
}

.ab-cont-grid-card p b {
  /* background-color: var(--color-primary); */
}

.ab-cont-grid-card p a {
  color: var(--color-secondary);
  text-decoration: underline;
}

.ab-cont-grid-card p a:hover {
  text-decoration: none;
}

.ab-cont-grid-card-title {
  margin-bottom: calc(var(--spacing-unit) * 3);

  color: var(--color-secondary);
  font-size: 18px;
  font-family: var(--font-family-sans-serif-main);
  font-weight: 600;
}

.ab-cont-grid-card-body {
  background: #eff0f2;
  padding: calc(var(--spacing-unit) * 4);
}

.ab-cont-stack-list {
  display: flex;
  gap: calc(var(--spacing-unit) * 5) calc(var(--spacing-unit) * 3);
  flex-wrap: wrap;
}

.ab-cont-stack-list img {
  display: inline-flex;
  height: 30px;
  filter: grayscale(50%);
}

.about-cont-ss-sect-body-excerpt {
  font-size: 18px;
  font-family: var(--font-family-sans-serif-main);
  font-weight: 600;
}

.ab-cont-xp-card {
  &-logo {
    display: inline-block;
    width: 100%;

    &-w {
      display: inline-block;
      width: 56px;
      background-color: var(--color-primary);
    }
  }
  &-meta,
  &-meta * {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
  }
  &-title {
    font-family: var(--font-family-sans-serif-main);
    font-size: 16px;
    font-weight: 600;
  }
  &-hdr {
    grid-template-columns: calc(var(--spacing-unit) * 7) auto;
    gap: calc(var(--spacing-unit) * 3);

    line-height: 1.6;
  }

  &-bdy {
    gap: calc(var(--spacing-unit) * 5);

    margin-top: calc(var(--spacing-unit) * 3);
    padding-left: calc(var(--spacing-unit) * 10);
  }

  &-job-par {
    font-size: 15px;
    line-height: 1.6;

    &-list {
      gap: calc(var(--spacing-unit) * 3);
    }
  }

  &-list {
    gap: calc(var(--spacing-unit) * 8);
  }

  &-roles {
    gap: calc(var(--spacing-unit) * 3);
  }

  &-role {
    position: relative;

    &::before {
      content: " ";
      position: absolute;
      top: calc(var(--spacing-unit) * 3);
      left: calc(var(--spacing-unit) * -6.8);
      display: inline-block;
      border-radius: 12px;
      width: 4px;
      height: calc(100% - 24px);
      background-color: #e5e5e5;
    }

    & header {
      margin-bottom: calc(var(--spacing-unit) * 3);
    }
    & .ab-cont-xp-card-title {
      position: relative;

      &::before {
        content: " ";
        position: absolute;
        top: calc(var(--spacing-unit) / 2);
        left: calc(var(--spacing-unit) * -7);
        display: inline-block;
        border-radius: 50%;
        width: 8px;
        height: 8px;
        background-color: #e5e5e5;
      }
    }
  }
}

.about-cont-achv-card {
  display: flex;
  justify-content: space-around;
  gap: calc(var(--spacing-unit) * 3);
  border-left: 3px solid #e5e5e5;
  padding-left: calc(var(--spacing-unit) * 3);

  &-title {
    display: flex;
    align-items: center;

    color: var(--color-secondary);
    font-weight: bold;
  }

  & .about-cont-achv-card-block {
    &-l {
      @include sm-lower {
        display: none;
      }
    }
    &-r {
    }
    &-title {
      font-family: var(--font-family-sans-serif-main);
      font-size: 18px;
      font-weight: 600;
    }
    &-h1 {
      color: grey;
      font-family: var(--font-family-sans-serif-main);
      font-weight: 600;

      &:not(:first-child) {
        margin-top: calc(var(--spacing-unit) * 2);
      }
    }
    &-bdy {
      margin-top: calc(var(--spacing-unit) * 1);
    }
  }

  & .about-cont-achv-card-block-l {
    width: 80px;
  }
}

.ab-cont-strengths {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;

  & li:nth-child(2n + 1) {
    font-weight: normal;
  }
}

.ab-cont-icon {
  margin-right: calc(var(--spacing-unit) * 1);
}
