/* line 1, ../sass/dev.scss */
.dev-cols-12-layer {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 24px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vw;
  background: rgba(0, 0, 0, 0.1);
  pointer-events: none;
  user-select: none;
}

/* line 20, ../sass/dev.scss */
.dev-cols-12-layer > * {
  background: rgba(0, 0, 0, 0.12);
}
