/* line 62, ../sass/vars.scss */
:root {
  --grid-col-numb: 12;
  --grid-col-gutter: 24px;
  --grid-col-width: calc((100vw - (24px * 11)) / 12);
  /* ===== SPACING ===== */
  --spacing-unit: 8px;
  /* ===== FAMILY ===== */
  --font-family-sans-serif-main: arial, sans-serif;
  --font-family-sans-serif-secondary: "Source Code Pro", monospace;
  /* ===== COLORS ===== */
  --color-primary: #f4efe1;
  --color-secondary: #7984a8;
  --color-text: #333;
  --color-text-grey: #333;
  --color-text-lightgrey: #aaadb3;
  --color-error: #d94545;
  --color-valid: #22b17b;
  /* ===== BREAKPOINTS ===== */
  --breakpoint-phone-upper: 375px;
  --breakpoint-big-screen-phone-upper: 600px;
  --breakpoint-tablet-portrait-upper: 768px;
  --breakpoint-tablet-landscape-upper: 1024px;
  --breakpoint-desktop-upper: 1280px;
}

@media (min-width: 768px) {
  /* line 3, ../sass/grid.scss */
  .app-col-start-1 {
    position: relative;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  /* line 10, ../sass/grid.scss */
  .app-col-start-2 {
    position: relative;
    padding-left: calc( (var(--grid-col-width) * 1) + (var(--grid-col-gutter) * 1) );
  }
}

@media (min-width: 768px) {
  /* line 19, ../sass/grid.scss */
  .app-col-start-3 {
    position: relative;
    padding-left: calc( (var(--grid-col-width) * 2) + (var(--grid-col-gutter) * 2) );
  }
}

@media (min-width: 768px) {
  /* line 28, ../sass/grid.scss */
  .app-col-start-4 {
    position: relative;
    padding-left: calc( (var(--grid-col-width) * 3) + (var(--grid-col-gutter) * 3) );
  }
}

@media (min-width: 768px) {
  /* line 37, ../sass/grid.scss */
  .app-col-start-5 {
    position: relative;
    padding-left: calc( (var(--grid-col-width) * 4) + (var(--grid-col-gutter) * 4) );
  }
}

@media (min-width: 768px) {
  /* line 46, ../sass/grid.scss */
  .app-col-start-6 {
    position: relative;
    padding-left: calc( (var(--grid-col-width) * 5) + (var(--grid-col-gutter) * 5) );
  }
}

@media (min-width: 768px) {
  /* line 55, ../sass/grid.scss */
  .app-col-start-7 {
    position: relative;
    padding-left: calc( (var(--grid-col-width) * 6) + (var(--grid-col-gutter) * 6) );
  }
}

@media (min-width: 768px) {
  /* line 64, ../sass/grid.scss */
  .app-col-start-8 {
    position: relative;
    padding-left: calc( (var(--grid-col-width) * 7) + (var(--grid-col-gutter) * 7) ) !important;
  }
}

@media (min-width: 768px) {
  /* line 73, ../sass/grid.scss */
  .app-col-start-9 {
    position: relative;
    padding-left: calc( (var(--grid-col-width) * 8) + (var(--grid-col-gutter) * 8) );
  }
}

@media (min-width: 768px) {
  /* line 82, ../sass/grid.scss */
  .app-col-start-10 {
    position: relative;
    padding-left: calc( (var(--grid-col-width) * 9) + (var(--grid-col-gutter) * 9) );
  }
}

@media (min-width: 768px) {
  /* line 91, ../sass/grid.scss */
  .app-col-start-11 {
    position: relative;
    padding-left: calc( (var(--grid-col-width) * 10) + (var(--grid-col-gutter) * 10) );
  }
}

@media (min-width: 768px) {
  /* line 100, ../sass/grid.scss */
  .app-col-start-12 {
    position: relative;
    padding-left: calc( (var(--grid-col-width) * 11) + (var(--grid-col-gutter) * 11) );
  }
}
